.App {
  margin: auto;
  width: 50%;
}

.formulario {
  width: 100%;
  background-color: rgb(153, 191, 216);
  border-radius: 5px;
  padding: 14px;
}

.campoForm {
  width: 100%;
  padding: 12px 16px;
  margin: 12px 0;
  display: block;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
}

.botaoForm {
  width: 100%;
  background-color: #77e1da;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.lista { list-style: none; }

.botaoItensLista {
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 7px;
  border: 1px solid #00b894;
  margin: 3px 5px;
}